@import "tailwindcss" source("../");
@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Space+Grotesk:wght@300..700&display=swap');

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.99 0.01 84.57);
  --foreground: oklch(0.37 0.03 49.61);
  --card: oklch(0.97 0.01 78.28);
  --card-foreground: oklch(0.37 0.03 49.61);
  --popover: oklch(0.97 0.01 78.28);
  --popover-foreground: oklch(0.37 0.03 49.61);
  --primary: oklch(0.56 0.15 49.00);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.83 0.08 74.44);
  --secondary-foreground: oklch(0.44 0.01 73.64);
  --muted: oklch(0.94 0.02 83.26);
  --muted-foreground: oklch(0.55 0.01 58.07);
  --accent: oklch(0.90 0.05 74.99);
  --accent-foreground: oklch(0.44 0.01 73.64);
  --destructive: oklch(0.44 0.16 26.90);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.89 0.04 89.70);
  --input: oklch(0.89 0.04 89.70);
  --ring: oklch(0.56 0.15 49.00);
  --chart-1: oklch(0.56 0.15 49.00);
  --chart-2: oklch(0.55 0.01 58.07);
  --chart-3: oklch(0.55 0.12 66.44);
  --chart-4: oklch(0.55 0.01 58.07);
  --chart-5: oklch(0.68 0.14 75.83);
  --sidebar: oklch(0.94 0.02 83.26);
  --sidebar-foreground: oklch(0.37 0.03 49.61);
  --sidebar-primary: oklch(0.56 0.15 49.00);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.55 0.12 66.44);
  --sidebar-accent-foreground: oklch(1.00 0 0);
  --sidebar-border: oklch(0.89 0.04 89.70);
  --sidebar-ring: oklch(0.56 0.15 49.00);
  --font-sans: Space Grotesk, serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(28 18% 25% / 0.09);
  --shadow-sm: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
  --shadow: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 1px 2px -1px hsl(28 18% 25% / 0.18);
  --shadow-md: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 2px 4px -1px hsl(28 18% 25% / 0.18);
  --shadow-lg: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 4px 6px -1px hsl(28 18% 25% / 0.18);
  --shadow-xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.18), 0px 8px 10px -1px hsl(28 18% 25% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(28 18% 25% / 0.45);
}

.dark {
  --background: oklch(0.22 0.01 56.04);
  --foreground: oklch(0.97 0.00 106.42);
  --card: oklch(0.27 0.01 34.30);
  --card-foreground: oklch(0.97 0.00 106.42);
  --popover: oklch(0.27 0.01 34.30);
  --popover-foreground: oklch(0.97 0.00 106.42);
  --primary: oklch(0.70 0.19 47.60);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.44 0.01 73.64);
  --secondary-foreground: oklch(0.92 0.00 48.72);
  --muted: oklch(0.27 0.01 34.30);
  --muted-foreground: oklch(0.72 0.01 56.26);
  --accent: oklch(0.36 0.05 229.32);
  --accent-foreground: oklch(0.92 0.00 48.72);
  --destructive: oklch(0.58 0.22 27.33);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.37 0.01 67.56);
  --input: oklch(0.37 0.01 67.56);
  --ring: oklch(0.70 0.19 47.60);
  --chart-1: oklch(0.70 0.19 47.60);
  --chart-2: oklch(0.68 0.15 237.32);
  --chart-3: oklch(0.80 0.16 86.05);
  --chart-4: oklch(0.72 0.01 56.26);
  --chart-5: oklch(0.55 0.01 58.07);
  --sidebar: oklch(0.27 0.01 34.30);
  --sidebar-foreground: oklch(0.97 0.00 106.42);
  --sidebar-primary: oklch(0.70 0.19 47.60);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.68 0.15 237.32);
  --sidebar-accent-foreground: oklch(0.28 0.07 254.54);
  --sidebar-border: oklch(0.37 0.01 67.56);
  --sidebar-ring: oklch(0.70 0.19 47.60);
  --font-sans: Space Grotesk, serif;
  --font-serif: Merriweather, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.3rem;
  --shadow-2xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
  --shadow-xs: 0px 2px 3px 0px hsl(0 0% 5% / 0.09);
  --shadow-sm: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
  --shadow: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 1px 2px -1px hsl(0 0% 5% / 0.18);
  --shadow-md: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 2px 4px -1px hsl(0 0% 5% / 0.18);
  --shadow-lg: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 4px 6px -1px hsl(0 0% 5% / 0.18);
  --shadow-xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.18), 0px 8px 10px -1px hsl(0 0% 5% / 0.18);
  --shadow-2xl: 0px 2px 3px 0px hsl(0 0% 5% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}


@layer root {
  :root {
    --font-sans: var(--font-inter);
    --header-height: calc(var(--spacing) * 12 + 1px);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .theme-scaled {
    @media (min-width: 1024px) {
      --radius: 0.6rem;
      --text-lg: 1.05rem;
      --text-base: 0.85rem;
      --text-sm: 0.8rem;
      --spacing: 0.222222rem;
    }
  
    [data-slot="card"] {
      --spacing: 0.16rem;
    }
  
    [data-slot="select-trigger"],
    [data-slot="toggle-group-item"] {
      --spacing: 0.222222rem;
    }
  }
  
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;
}

@keyframes attention {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.animate-attention {
  animation: attention 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-destructive-attention {
  animation: attention 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  box-shadow: 0 0 0 0 var(--destructive);
}


@layer body {
  body {
    @apply overscroll-none bg-transparent
  }
}